html {
    scroll-behavior: smooth;
    font-size: 125%;
}

img {
    display: block;
    width: 100%;
}

// Award by supalerk laipawat from the Noun Project

.wrapper {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;

    @media (max-width: 450px) {
        width: 90%;
    }
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}