// VARIABLES

$accent1: rgb(225, 133, 30);
$transition: 0.15s ease-in-out;

// MIXINS


// ANIMATIONS

@keyframes pop-in {

    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}