article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  scroll-behavior: smooth;
  font-size: 125%;
  font-family: "Roboto", sans-serif; }

img {
  display: block;
  width: 100%; }

.wrapper {
  width: 80%;
  max-width: 800px;
  margin: 0 auto; }
  @media (max-width: 450px) {
    .wrapper {
      width: 90%; } }

a {
  text-decoration: none;
  color: black;
  display: inline-block; }

p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0; }

header {
  min-height: 100vh;
  background-color: white;
  color: black;
  text-align: center;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  header .wrapper {
    border: 5px solid #e1851e;
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto; }
  header h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    font-family: "Fira Sans", sans-serif; }
    header h1 span {
      display: block; }
    @media (max-width: 600px) {
      header h1 {
        font-size: 4rem; } }
    @media (max-width: 475px) {
      header h1 {
        font-size: 2.6rem; } }
  header .take-quiz {
    padding: 20px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 0 #e1851e;
    box-shadow: 5px 5px 0 #e1851e;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    -webkit-transition: background-color 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out; }
    header .take-quiz:hover {
      background-color: rgba(225, 133, 30, 0.2); }
    header .take-quiz:active {
      -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
      transform: translate(5px, 5px);
      -webkit-box-shadow: none;
      box-shadow: none; }
    header .take-quiz:focus {
      border: 3px solid #e1851e; }

form {
  min-height: 100vh;
  border: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 25%;
  position: relative;
  opacity: 0; }
  form div:first-child {
    width: 35%;
    position: absolute;
    left: -5%; }
  form img {
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 0 #e1851e;
    box-shadow: 5px 5px 0 #e1851e; }
  @media (max-width: 750px) {
    form {
      padding-left: 0; }
      form div:first-child {
        position: static;
        margin: 20px auto; } }
  form [type="radio"] {
    opacity: 0;
    position: absolute; }
  form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 20px 0 20px 40px; }
    form label::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      border: 2px solid black;
      left: 0; }
    form label::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: 5px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  form [type="radio"]:checked + label::after {
    background-color: black; }
  form [type="radio"]:focus + label::before {
    border: 2px solid #e1851e; }
  form .options {
    padding: 20px 20%;
    text-align: left; }
    @media (max-width: 550px) {
      form .options {
        padding: 20px 10%; } }
  form [type="submit"] {
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 0 #e1851e;
    box-shadow: 5px 5px 0 #e1851e;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    -webkit-transition: background-color 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out; }
    form [type="submit"]:hover {
      background-color: rgba(225, 133, 30, 0.2); }
    form [type="submit"]:active {
      -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
      transform: translate(5px, 5px);
      -webkit-box-shadow: none;
      box-shadow: none; }
    form [type="submit"]:focus {
      border: 3px solid #e1851e; }
  form .error {
    padding-bottom: 20px;
    color: #e1851e; }

.visible {
  opacity: 1; }

.results {
  min-height: calc(100vh - 77px);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .results .inside-results {
    border: 5px solid #e1851e;
    border-radius: 10px;
    padding: 30px;
    margin: 30px 0; }
  .results p {
    font-size: 1.8rem;
    padding: 10px 0; }
  .results img {
    width: 65%;
    margin: 0 auto; }
    @media (max-width: 750px) {
      .results img {
        width: 100%; } }

footer {
  text-align: center;
  padding: 10px 0; }
